html {
  background-color: #10162d;
}

#back-body{
  /* display: flex; */
}
#back {
  display: flex;
  min-height: 100%;
}
#clear {
  clear: both;
}

/*MAIN CANVAS*/
#main-canvas{
  flex: 71%;
  padding: 4% 0 0 4%;
  background-color: #10162d;
  max-height: 65vh;
  min-height: 65vh;
  overflow: scroll;
}
#main-canvas li::selection{
  color: #e14f52;
}
#main-canvas li li {
  width: max-content;
  cursor: pointer;
}


/*SIDE BOX*/
#side-layer{
  flex: 19%;
  background-color: #0e1327;
  padding: 3%;
}
#side-layer p{
  color: white;
  font-family: 'Monda', sans-serif;
  line-height: 1.6em;
  text-align: justify;
  cursor: context-menu;
}
#side-layer p::selection{
  color: #e14f52;
}
#side-layer p a{
  color: #e14f52;
  text-decoration:none;
}
#side-layer p a::selection {
  color: #52e14f;
}
#side-layer span::selection {
  color: #52e14f;
}
.redHighlight {
  color: #e14f52;
}

/*LOWER BOW*/
#lower-box{
  display: flex;
  align-self: flex-end;
  background-color: #0a0e1c;
  width: 100%;
  height: 100%;
  max-height: 22vh;
  color: white;
  font-family: 'Anton', sans-serif;
}
#logo{
  clear: both;
  padding: 1%;
}
#logo-firt{
  margin: 0;
  padding: 2% 6% 0;
  width: 100%;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -1px;
  user-select: none;
}
#logo-second{
  margin: 0;
  font-size: 16px;
  padding: 0px 0 0 6%;
  user-select: none;
}

/* RESPONSIVE */
@media all and (max-width: 980px) {
  #back {
    flex-direction: column;
  }

  #main-canvas {
    flex: 100%;
    max-height: 85vh;
  }

  #side-layer{
    flex: 100%;
  }
  #side-layer p {
    font-size: 15px;
  }

  #logo {
    display: none;
  }
  #logo-firt {
    font-size: 18px;
  }
}